//
// Code and syntax highlighting
//
// stylelint-disable selector-no-qualifying-type, declaration-block-semicolon-newline-after,declaration-block-single-line-max-declarations, selector-no-type, selector-max-type


@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width:18.0rem
    }
}

@import "./matlab-live-script";