//
// Code and syntax highlighting
//
// stylelint-disable selector-no-qualifying-type, declaration-block-semicolon-newline-after,declaration-block-single-line-max-declarations, selector-no-type, selector-max-type


// @media (min-width: 66.5rem) {
//     .site-nav, .site-header, .site-footer {
//         width:18.0rem
//     }
// }

// _sass/custom/custom.scss

.side-bar {
  @include mq(lg) {
    width: $nav-width;
    min-width: $nav-width;
  }
}

.main{
  @include mq(lg) {
        margin-left: calc( 264px + 30px);
        margin-right: 30px;
        max-width: 1920px;
  }
}

@import "./matlab-live-script";